
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #2A2A2A;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #878787;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #000000;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ol {
	margin-top: 0;
	line-height: 180%;
}

ol {
}

ul {
	list-style-position: inside;
}

li {
	font-size: 1.6em;
	color: #000000;
}


a {
	text-decoration: none;
	color: #000000;
}

a:hover {
}

#wrapper {
	width: 1280px;
	height: 60px;
	margin: 0 auto;
	padding: 0px 0px;
	background: #000000;
}

/* Header */

#header {
	clear: both;
	width: 1200px;
	height: 115px;
	margin: 0px auto;
	padding: 0px 40px 0px 0px;
	background: url(../SWEEP_thumb_nope.png) no-repeat left top;
}

/* Logo */

#logo {
	margin: 0;
	padding: 0px 0px 0px 20px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	padding-top: 20px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 3.8em;
}

#logo p {
	margin: 0;
	padding: 0px 0 0 00px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #FFFFFF;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	float: right;
	width: 280px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 17px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 220px;
	padding: 8px 5px 6px 5px;
	border: none;
	background: #FFFFFF url(images/img02.jpg) no-repeat left top;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #000000;
}

#search-submit {
	width: 62px;
	height: 22px;
	border: none;
	background: none;
	color: #000000;
}

/* Menu */

#menu {
	float: left;
	width: 1280px;
	height: 60px;
	padding: 0px 0px;
}

#menu ul {
	margin: 0;
	padding: 0px 1px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	border-right: 1px solid #1A1A18; 
}

#menu a {
	display: block;
	height: 30px;
	padding: 25px 40px 0px 40px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
}

/* Page */

#page {
	width: 1200px;
	margin: 0px auto;
	padding: 0px 40px;
	background: #FFFFFF;
}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		color: #b2b2b2;
		position: relative;
		margin: 0 0 1.5em 0;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -1em;
		line-height: 1.5em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.8em;
		line-height: 1.5em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.6em;
		line-height: 1.5em;
	}

	header.major h2 {
		font-size: 2em;
	}

/* Content */

#content {
	float: right;
	width: 800px;
	padding: 40px 0px 0px 0px;
}

.post {
	margin-bottom: 40px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	color: #000000;
}

.post .title a {
	color: #000000;
	border: none;
}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.more {
	float: left;
	display: block;
	width: 120px;
	height: 23px;
	margin-right: 10px;
	padding: 2px 0px 0px 0px;
	background: url(images/img04.jpg) no-repeat left top;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #333333;
	
}

.comments {
	float: left;
	display: block;
	width: 120px;
	height: 23px;
	padding: 2px 0px 0px 0px;
	background: url(images/img04.jpg) no-repeat left top;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #333333;
	
}

/* Sidebar */

#sidebar {
	float: left;
	width: 280px;
	margin: 0px;
	padding: 40px 0px 0px 0px;
	color: #949494;
	text-align: justify;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	border-bottom: 1px solid #E3E5E3;
	padding: 5px 0px;
	border-left: none;
}

#sidebar li li a {
	padding: 0px 0px 0px 15px;
	background: url(images/img03.jpg) no-repeat left 5px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	letter-spacing: -.5px;
	font-size: 1.8em;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 0px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #878787;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}

/* Image */

	.image {
		border-radius: 0.35em;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image:before {
			-moz-transition: opacity 0.2s ease-in-out;
			-webkit-transition: opacity 0.2s ease-in-out;
			-ms-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
			background: url("images/overlay.png");
			border-radius: 0.35em;
			content: '';
			display: block;
			height: 100%;
			left: 0;
			opacity: 0.5;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.image.thumb {
			text-align: center;
		}

			.image.thumb:after {
				-moz-transition: opacity 0.2s ease-in-out;
				-webkit-transition: opacity 0.2s ease-in-out;
				-ms-transition: opacity 0.2s ease-in-out;
				transition: opacity 0.2s ease-in-out;
				border-radius: 0.35em;
				border: solid 3px rgba(255, 255, 255, 0.5);
				color: #fff;
				content: 'View';
				display: inline-block;
				font-size: 0.8em;
				font-weight: 400;
				left: 50%;
				line-height: 2.25em;
				margin: -1.25em 0 0 -3em;
				opacity: 0;
				padding: 0 1.5em;
				position: absolute;
				text-align: center;
				text-decoration: none;
				top: 50%;
				white-space: nowrap;
			}

			.image.thumb:hover:after {
				opacity: 1.0;
			}

			.image.thumb:hover:before {
				background: url("images/overlay.png"), url("images/overlay.png");
				opacity: 1.0;
			}

		.image img {
			border-radius: 0.35em;
			display: block;
		}

		.image.left {
			float: left;
			margin: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			margin: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.avatar {
			border-radius: 100%;
		}

			.image.avatar:before {
				display: none;
			}

			.image.avatar img {
				border-radius: 100%;
				width: 80%;
			}


/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0 0 0 0em;
	}

	.row.\30 \25 {
		margin: 0 0 -1px 0em;
	}

	.row.uniform.\30 \25 > * {
		padding: 0em 0 0 0em;
	}

	.row.uniform.\30 \25 {
		margin: 0em 0 -1px 0em;
	}

	.row > * {
		padding: 0 0 0 2.5em;
	}

	.row {
		margin: 0 0 -1px -2.5em;
	}

	.row.uniform > * {
		padding: 2.5em 0 0 2.5em;
	}

	.row.uniform {
		margin: -2.5em 0 -1px -2.5em;
	}

	.row.\32 00\25 > * {
		padding: 0 0 0 5em;
	}

	.row.\32 00\25 {
		margin: 0 0 -1px -5em;
	}

	.row.uniform.\32 00\25 > * {
		padding: 5em 0 0 5em;
	}

	.row.uniform.\32 00\25 {
		margin: -5em 0 -1px -5em;
	}

	.row.\31 50\25 > * {
		padding: 0 0 0 3.75em;
	}

	.row.\31 50\25 {
		margin: 0 0 -1px -3.75em;
	}

	.row.uniform.\31 50\25 > * {
		padding: 3.75em 0 0 3.75em;
	}

	.row.uniform.\31 50\25 {
		margin: -3.75em 0 -1px -3.75em;
	}

	.row.\35 0\25 > * {
		padding: 0 0 0 1.25em;
	}

	.row.\35 0\25 {
		margin: 0 0 -1px -1.25em;
	}

	.row.uniform.\35 0\25 > * {
		padding: 1.25em 0 0 1.25em;
	}

	.row.uniform.\35 0\25 {
		margin: -1.25em 0 -1px -1.25em;
	}

	.row.\32 5\25 > * {
		padding: 0 0 0 0.625em;
	}

	.row.\32 5\25 {
		margin: 0 0 -1px -0.625em;
	}

	.row.uniform.\32 5\25 > * {
		padding: 0.625em 0 0 0.625em;
	}

	.row.uniform.\32 5\25 {
		margin: -0.625em 0 -1px -0.625em;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 980px;
	height: 50px;
	margin: 0 auto;
	padding: 0px 0px 15px 0px;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding: 0px 0px 0px 40px;
	line-height: normal;
	text-transform: capitalize;
	color: #A0A0A0;
}

#footer a {
	color: #8A8A8A;
}

/* Footer Menu */

#footer-menu {
	width: 960px;
	height: 60px;
	margin: 0px auto;
	padding: 0px 0px 0px 20px;
}

#footer-menu ul {
	margin: 0;
	padding: 30px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#footer-menu li {
	float: left;
}

#footer-menu a {
	display: block;
	padding: 0px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #8A8A8A;
	border-right: 1px solid #383838;
}

#footer-menu a:hover {
	color: #FFFFFF;
}

#footer-menu .current_page_item a {
	text-decoration: none;
}

#footer-menu .current_page_item a {
}
